.slider img{
    width: 100%;
}
.slider figure{
    display: none;
}
.slider figure:first-of-type{
    display: block;
}
.dots{
    display: flex;
    position: relative;
    top: -7rem;
}
.dot{
    display: block;
    width: 1rem;
    height: 1rem;
    box-shadow: inset 0 0 10px 2px #7FB3D5;
    border-radius: 50%;
}